[submodule "external/ActionBarSherlock"]
	path = external/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "external/InformaCam"]
	path = external/InformaCam
	url = https://github.com/guardianproject/InformaCam.git
